<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="web.xsl"?>
<vibz heading="On the web">
  <section color="000066">
    <header>Headlines</header>
    <content>
      <item type="link" url="http://vauto.googlecode.com/files/AutomationStudio_2.3.11.0116.msi"  date="14/01/2011" highlight="true">Download latest tool version (2.3.11.0114).</item>
      <item type="link" url="http://code.google.com/p/vauto/wiki/GetSourceCode" date="12/01/2011" highlight="true">Now source code is available.</item>
      <item type="text" date="08/01/2011">Vibz Automation Studio now has Context help system.</item>
      <item type="text" date="08/01/2011">Vibz Automation Studio has Instruction dictionary to directly drag drop instructions in your script.</item>
    </content>
  </section>
  <section color="990000">
    <header>Online Assistance</header>
    <content>
      <item type="link" url="http://code.google.com/p/vauto/wiki/ComponentsOfTestscript"  date="08/01/2011">Get help for writing automation script.</item>
      <item type="link" url="http://code.google.com/p/vauto/wiki/CreatingExtendedModule"  date="08/01/2011">Learn how to extend a module.</item>
      <item type="link" url="http://code.google.com/p/vauto/wiki/RegisterModule"  date="08/01/2011">Know how to register a module.</item>
    </content>
  </section>
  <section color="C89800">
    <header>Open Scripts</header>
    <content>
      <item type="link" url="http://code.google.com/p/vauto/wiki/Examples"  date="08/01/2011">Beginers samples.</item>
      <item type="link" url="http://groups.google.com/group/vauto-discuss/browse_thread/thread/8002f6297d67c78"  date="10/01/2011">Share your scripts with others.</item>
    </content>
  </section>
  <section color="2060a7">
    <header>Open Modules</header>
    <content>
      <item type="link" url="http://code.google.com/p/vauto/wiki/CreatingExtendedModule"  date="08/01/2011">Beginers samples.</item>
      <item type="link" url="http://groups.google.com/group/vauto-discuss/browse_thread/thread/3f48d17a0f0fca43"  date="10/01/2011">Share your module with others.</item>
    </content>
  </section>
  <section color="2f7c05">
    <header>Lets Interact</header>
    <content>
      <item type="link" url="http://groups.google.com/group/vauto-discuss?pli=1"  date="10/01/2011">Share your views</item>
      <item type="link" url="http://code.google.com/p/vauto/issues/list"  date="10/01/2011">Report issue and bugs</item>
      <item type="link" url="http://code.google.com/p/vauto/wiki/GetSourceCode"  date="11/01/2011">Send request for Source code</item>
    </content>
  </section>
  <section color="68670c">
    <header>FAQS</header>
    <content>
      <item type="link" url="http://code.google.com/p/vauto/wiki/NeedForAFramework"  date="10/01/2011">Why automation needs a framework?</item>
      <item type="link" url="http://code.google.com/p/vauto/wiki/IdealFramework"  date="10/01/2011">What should be an ideal framework?</item>
    </content>
  </section>
</vibz>