<?xml version="1.0" encoding="utf-8"?>
<serviceschedules threadcount="4" tickinterval="110846" loglevel="Release">
  <schedule type="Periodic" name="firstTask" initialinvocation="9/30/2010 10:04:46 PM" interval="60000" lastinvocation="10/3/2010 10:14:50 AM">
    <event name="updatedate" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\\Amit\Auto mate\binaries">/c echo %date% &gt;&gt; "C:\\log60.txt"</event>
    <event name="updatedate" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\Amit\Auto mate\binaries">/c echo %date% &gt;&gt; "C:\\log60.txt"</event>
  </schedule>
  <schedule type="OneTime" name="secondTask" initialinvocation="9/30/2010 10:04:46 PM">
    <event name="updatetime" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\Amit\Auto mate\binaries">/c echo %time% &gt;&gt; "C:\\log45.txt"</event>
  </schedule>
  <schedule type="PeriodicMask" name="thirdTask" initialinvocation="9/30/2010 10:04:46 PM" interval="90000" lastinvocation="1/1/0001 12:00:00 AM" maskedhourbegin="9" maskedhourend="16" maskeddaybegin="1" maskeddayend="5">
    <event name="updatedatetime" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\Amit\Auto mate\binaries">/c echo %date% %time% &gt;&gt; "C:\\log90.txt"</event>
  </schedule>
  <schedule type="Periodic" name="forthTask" initialinvocation="9/30/2010 10:04:46 PM" interval="4323" lastinvocation="1/1/0001 12:00:00 AM">
    <event name="updatedate" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\Amit\Auto mate\binaries">/c echo %date% &gt;&gt; "C:\\log60.txt"</event>
  </schedule>
  <schedule type="PeriodicMask" name="S1011201091633AM" initialinvocation="10/11/2010 9:16:33 AM" interval="34" lastinvocation="1/1/0001 12:00:00 AM" maskedhourbegin="0" maskedhourend="4" maskeddaybegin="5" maskeddayend="0">
    <event name="E1011201091633AM" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\Amit\Auto mate\Document\TestHTMLProject\bin\Debug6">/c vauto -r -f='C:\Amit\Auto mate\Document\TestHTMLProject\bin\Debug6\test2.vacs'</event>
  </schedule>
  <schedule type="OneTime" name="S10112010114512AM" initialinvocation="10/11/2010 11:45:12 AM">
    <event name="E10112010114512AM" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\Amit\Auto mate\Document\TestHTMLProject\bin\Debug6">/c vauto -r -f='C:\Amit\Auto mate\Document\TestHTMLProject\bin\Debug6\test2.vacs'</event>
  </schedule>
  <schedule type="Periodic" name="S10112010114518AM" initialinvocation="10/11/2010 11:45:18 AM" interval="120000" lastinvocation="1/1/0001 12:00:00 AM">
    <event name="E10112010114518AM" type="Command" command="C:\WINDOWS\system32\cmd.exe" workingdirectory="C:\Amit\Auto mate\Document\TestHTMLProject\bin\Debug6">/c vauto -r -f='C:\Amit\Auto mate\Document\TestHTMLProject\bin\Debug6\test2.vacs'</event>
  </schedule>
</serviceschedules>