<serviceschedules threadcount="1" tickinterval="300000" loglevel="Release">
	<schedule name="firstTask" type="periodic" initialinvocation="9/30/2010 10:04:46 PM" interval="300000" lastinvocation="9/30/2010 10:04:46 PM">
		<event type="command" command="echo" workingdirectory="C:\Amit\Auto mate\binaries">
			<![CDATA[%date% %time% >> C:/log1234567.txt]]>
		</event>
	</schedule>
</serviceschedules>