<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Vibz.Studio.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="registryKey" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <userSettings>
    <Vibz.Studio.App>
      <setting name="ProjectLocation" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="ProductKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductDate" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisteredUser" serializeAs="String">
        <value />
      </setting>
      <setting name="PlaySound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncodeBuild" serializeAs="String">
        <value>True</value>
      </setting>
    </Vibz.Studio.App>
  </userSettings>
  <registryKey>
    <add key="regkey_month_1" value="[[This product is a trial version.]][[30]][[64357335187387658761]]"/>
    <add key="regkey_quarter_1" value="[[This product is a trial version.]][[180]][[64353335687787658761]]"/>
    <add key="regkey_year_1" value="[[This product is a trial version.]][[365]][[64327336187347658261]]"/>
    <add key="regkey_ever" value="[[This product is full version with Premium licence.]][[-1]][[64352335187583654721]]"/>
  </registryKey>
  <appSettings>
    <add key="ServiceSchedule" value="__vibztask.config"/>
    <add key="ServiceHistory" value="__history.log"/>
    <add key="defaultBuildPath" value="bin/debug"/>
    <add key="culture" value="en-US"/>
    <add key="web" value="http://code.google.com/p/vauto"/>
  </appSettings>
</configuration>