<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <settings>
    <add key="BrowserAssembly" value="Vibz.HTMLExtractor.dll" />
    <add key="BrowserClass" value="Vibz.HTMLExtractor.Extractor" />
    <add key="BrowserInitializingFunction" value="Init" />
    <add key="ShowBrowser" value="true" />
    <add key="LogEvents" value="true" />
  </settings>
</configuration>
