<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <report>
    <include name="TextReport" status="active">
      <param name="FilePath" value="@{reportpath}/Report.txt">
      </param>
      <param name="Format" value="{DateTime}:: {Severity} - {Indent}{Message}">
      </param>
    </include>
  </report>
</configuration>